{{define "DevicesView"}}
<!DOCTYPE html>
<html>

{{template "header"}}

<body>
    {{template "titlebar" .Status}}

    <div id="devices-list" class="box">
        <div class="box-title">Devices</div>
        <div class="basic-table">
            <div class="basic-table-row basic-table-header">
                <div>Machine</div>
                <div>Address</div>
                <div>Version</div>
                <div>Last Seen</div>
                <div>Tags</div>
            </div>
            {{range .Devices}}
            <div class="basic-table-row">
                <div><a href="/device/{{.Id}}">{{.Hostname}}</a></div>
                <div>{{index .Addresses 0}}</div>
                <div>
                    {{if .IsUpdateAvailable}}&#x2191;{{else}}&nbsp;{{end}}
                    {{cutOn .ClientVersion "-"}}
                </div>
                <div><span class='{{if eq  "Connected" (lastSeen .LastSeen)}}green-text{{else}}red-text{{end}}'>■</span>
                    {{lastSeen .LastSeen}}</div>
                <div>
                    {{range .Tags}}
                    <span class="device-tag">[{{trimPrefix . "tag:"}}]</span>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
    </div>

    <div id="policy-list" class="box">
        <div class="box-title">TCP Access Policy</div>
        <div class="basic-table">
            <div class="basic-table-row basic-table-header">
                <div>Source</div>
                <div>Destination</div>
                <div>Port</div>
                <div>Action</div>
            </div>
            {{range .Policy.ACLs}}
            <div class="basic-table-row">
                <div>{{.Source}}</div>
                <div>{{.Destination}}</div>
                <div></div>
                <div>{{.Action}}</div>
            </div>
            {{end}}
        </div>
    </div>

    <div id="policy-list" class="box">
        <div class="box-title">SSH Access Policy</div>
        <div class="basic-table">
            <div class="basic-table-row basic-table-header">
                <div>Source</div>
                <div>Destination</div>
                <div>Users</div>
                <div>Action</div>
            </div>
            {{range .Policy.SshACLs}}
            <div class="basic-table-row">
                <div>{{.Source}}</div>
                <div>{{.Destination}}</div>
                <div>{{.Users}}</div>
                <div>{{.Action}}</div>
            </div>
            {{end}}
        </div>
    </div>
</body>

</html>
{{end}}

{{define "DeviceView"}}
<!DOCTYPE html>
<html>
{{template "header"}}

<body>
    {{template "titlebar"}}
    {{template "device" .}}
</body>

</html>
{{end}}
