{{define "RegistryView"}}
<!DOCTYPE html>
<html>

{{template "header"}}

<body>
    {{template "titlebar"}}
    <div id="content">
        <div id="sidebar">
            {{template "sidebar"}}
        </div>
        <div id="registry">
            {{if .IsSuccess}}
            <div id="manifest-list">
                <div class="manifest-list-item" id="manifest-list-header">
                    <div>Image</div>
                    <div>Size</div>
                    <div>Digest</div>
                    <!-- <div></div> -->
                </div>
                {{range .Manifests}}
                <div class="manifest-list-item">
                    <div>{{.Name}}:{{.Tag}}</div>
                    <div>{{.Config.Size}}</div>
                    <div>{{slice .Config.Digest 7 27}}</div>
                    <!-- <div class="manifest-action" hx-delete="/registry/image/{{.Name}}/{{.Config.Digest}}"
                        hx-swap="outerHTML settle:3s" hx-target="#toast">Delete</div> -->
                </div>
                {{end}}
            </div>
            {{else}}
            <p>Error: {{.Err}}</p>
            {{end}}
        </div>
    </div>
</body>

</html>
{{end}}
