[Unit]
Description=Main server for a dead-simple web UI for managing docker containers
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=1
ExecStartPre=/etc/mahogany/.env
EnvironmentFile=/etc/mahogany/.env
ExecStart=/usr/local/bin/mahogany server
StandardOutput=append:/var/log/homelab/mahogany.server.slog.log
StandardError=append:/var/log/homelab/mahogany.server.slog.log

[Install]
WantedBy=multi-user.target
