{{define "sidebar"}}
<div id="sidebar-list">
    <div class="sidebar-item" id="sidebar-docker"><a href="/">Docker</a></div>
    <div class="sidebar-item" id="sidebar-registry"><a href="/registry">Registry</a></div>
    <div class="sidebar-item" id="sidebar-watchtower"><a href="/watchtower">Watchtower</a></div>
    <div class="sidebar-item" id="sidebar-control-plane"><a href="/control-plane">Control Plane</a></div>
    <div class="sidebar-item" id="sidebar-devices"><a href="/devices">Devices</a></div>
    <div class="sidebar-divider"></div>
    <div class="sidebar-item" id="sidebar-settings"><a href="/settings">Settings</a></div>
</div>
{{end}}
